
.clearfix:after
{
  content: "";
  display: block;
  clear: both;
  height: 0%;
  visibility: hidden;
}
.body {
  width: 400px;
}

.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}


  .box ul li {   
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border: solid  10px white;
   
    
   }
 
  


.content {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}
.side {
  float: left;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
}
.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}