@charset "UTF-8";

.wrapper {
  margin: 0;
  background-color: rgb(243, 235, 224);
}
/*header*/
.top {
  background-color: red;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 0 6px 0 black;
}

.top-left {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.top-right {
  height: 50px;
  width: 150px;
  background-color: white;
  border-radius: 5px;
}
/*main*/
.center {
  margin: 0;
  padding: 20px 20px;
}

.main-box {
  height: 160px;
  display: flex;
  justify-content: space-between;
}

.main-box-left {
  height: 80px;
  width: 80px;
  background-color: rgb(110, 99, 85);
  margin: 0px 15px 0 15px;
  border-radius: 5px;
}

.main-box-right {
  background-color: white;
  margin: 0 20px 30px 10px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 3px 2px 0 rgb(228, 217, 217);
}
/*footer*/
.bottom {
  height: 100px;
  background-color: rgb(30, 6, 53);
}
