.container {
  width: 400px;
  margin: 0;
  padding: 0;
}

.top {
  height: 100px;
  background-color: #141f40;
}

.main {
  width: 400px;
  height: 250px;
  display: flex;
}

.left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}

.contents {
  width: 250px;
  height: 250px;
  background-color: transparent;
}

.contents-box {
  height: 150px;
  width: 250px;
  display: flex;
}

.contents-top {
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}

.contents-center {
  width: 150px;
  height: 100px;
  background: #0093b7;
}

.contents-right {
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
}

.contents-bottom {
  width: 250px;
  height: 100px;
  background-color: #8c2727;
}

.bottom {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}
