@charset "UTF-8";


/*header*/
.top {
    height: 50px;
    background-color: orange;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 0 3px 0 gray;

}

.top-left {
    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 4px;
 
}

.top-right {
    display: flex;
    width: 80px;
    justify-content: space-around;
}

.top-right-box {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
}

/*main*/
.center {
    padding: 30px 15px;
    background-color: rgb(225, 223, 223);
}

.center ul {
    display: flex;
    flex-wrap: wrap;
}

.center ul li {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: white;
    margin: 5px;
    box-shadow: 1px 1px 2px 0 gray;
}

/* footer */
.bottom {
    height: 60px;
    background-color: rgb(28, 3, 52);
}
