@charset "UTF-8";

.wrapper {
   margin: 0;
   background-color: antiquewhite;
}
/*header*/
.top {
    height: 100px;
    background-color: orange;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;
    box-shadow: 0 0 3px 0 gray;

}

.top-left {
    height: 60px;
    width: 150px;
    background-color: white;
    border-radius: 4px;
 
}

.top-right {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.top-right-box {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

/*main*/
.main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
}

.main-box {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: white;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0 gray;
}

/* footer */
.bottom {
    height: 150px;
    background-color: blueviolet;
}
